.signup_card {
  display: flex;
  flex: 1fr 1fr;
  width: 853px;
  height: 508px;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.template_switcher {
  margin-top: 5px;
}

.toggler {
  padding: 10px 8px;
  border-radius: 5px;
  background: #fff;
  border: none;
  color: #2b83ea;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  justify-content: center;
}

.toggler:hover,
.toggler:focus,
.toggler:active {
  padding: 10px 10px;
  background: #2b83ea;
  color: #fff;
}
